.config-nav-block.sunflowerbiz-tab strong:before {
    background:url('app/code/sunflowerbiz/chinaaddress/view/adminhtml/web/images/logo.png') no-repeat;
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}
