<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eos\Base\Api\Data\ParcelInterface" type="Eos\Base\Model\Parcel"/>
    <preference for="Eos\Base\Api\ParcelRepositoryInterface" type="Eos\Base\Model\ParcelRepository"/>

    <preference for="Eos\Base\Api\Data\OrderInterface" type="Eos\Base\Model\Order"/>
    <preference for="Eos\Base\Api\OrderRepositoryInterface" type="Eos\Base\Model\OrderRepository"/>

    <preference for="Eos\Base\Api\Data\OrderDetailsItemInterface" type="Eos\Base\Model\OrderDetailsItemItem"/>
    <preference for="Eos\Base\Api\OrderDetailsRepositoryInterface" type="Eos\Base\Model\OrderDetailsRepository"/>


    <preference for="Eos\Base\Api\OrderOperatorInterface" type="Eos\Base\Model\OrderOperator"/>
    <preference for="Eos\Base\Api\Data\OrderResultInterface" type="Eos\Base\Model\OrderResult"/>
</config>
