<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
     <system>
		<tab id="sunflowerbiz" sortOrder="800" translate="label" class="sunflowerbiz-tab">
			<label>Sunflowerbiz Modules</label>
		</tab>
        <section id="se_chinaaddress"  translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
		  	<class>separator-top</class>
            <label>China Address</label>
            <tab>sunflowerbiz</tab>
            <resource>Sunflowrbiz_ChinaAddress::category_configuration</resource>
            <group id="chinaaddress" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
			    <comment><![CDATA[<a href="https://www.sunflowerbiz.com/" target="_blank">Click here to view more about author</a>]]></comment>
                <label>China Address</label>
				<field id="active" translate="label" type="select" showInDefault="1" sortOrder="1" showInWebsite="1" showInStore="0">
                            <label>Enable</label>
                       		 <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>
						
              
              
            </group>
        </section>
    </system>
</config>
