<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="wechatpayment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
			    <comment><![CDATA[<a href="https://pay.weixin.qq.com" target="_blank">Click here to sign up for Wechat Payment account</a>. Please enter correct API info.]]></comment>
                      
                <label>Wechat</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
				
				
                        <field id="merchant_id" translate="label" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Merchant ID</label>
							<comment><![CDATA[You can find Merchat ID in wechat merchant center. <br /><span class="notice">This is a required field</span>]]></comment>
                        </field>
						
						<field id="app_id" translate="label" sortOrder="40" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>APPID</label>
							<comment><![CDATA[Please find the APPID at wechat merchant center. <br /><span class="notice">This is a required field</span>]]></comment>
                        </field>
						
						<field id="app_key" translate="label" sortOrder="42" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>APPKEY</label>
							<comment><![CDATA[Please fill the APPKEY which bind with your wechat merchant. <br /><span class="notice">This is a required field</span>]]></comment>
                        </field>
						
                       
						<field id="app_secret" translate="label" sortOrder="43" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>APPSECRET</label>
							<comment><![CDATA[Please fill the APPSECRET which bind with your wechat merchant. <br /><span class="notice">This is a required field</span>]]></comment>
                        </field>
						
						<field id="enable_jsapi" translate="label" sortOrder="44" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable JSAPI</label>
							<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
						
						<field id="enable_h5pay" translate="label" sortOrder="45" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable H5 Pay</label>
							<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
						
								
						<field id="refund" translate="label" sortOrder="46" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
									<label>Allow Refund</label>
									 <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
									 <comment><![CDATA[After enabling it, the transcation will be refunded with creditmemo.]]></comment>
						</field>
						<field id="sslpath" translate="label" sortOrder="47" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
									<label>SSL certificate file path</label>
									 <comment><![CDATA[Wechat SSL certificate file absoulte path, e.g /var/www/public_html/certificate.pem]]></comment>
						</field>
								
					
						<field id="enable_log" translate="label" type="select" showInDefault="1" sortOrder="48" showInWebsite="1" showInStore="1">
                            <label>Enable Log</label>
                       		 <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
							<comment><![CDATA[When enable log, all transcation will be logged in /var/log/WechatPay.log]]></comment>
                        </field>
						
				
    
				 <field id="order_status_payment_accepted" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order status when payment accepted by Wechat</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        </field>
						
						
						
              
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				
           
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
